form ul {
	padding: 0;
}
.form-group {
	width:100%;
	list-style: none;
	margin: 15px 0;
	label {
		display: block;
		width:100%;
	}
	input {
		display: block;
		width: 100%;
		padding: 5px;
	}
	.uniform__potty {
		display: none;
	}
}
