div.logo {
	padding: 7px 20px;
	height:64px;
	background: #fff;
	z-index: 1;
	text-align: right;
	position: relative;
	.btn {
		display: none;
		@media screen and (min-width:$screen-md) {
			display: block;
			position: absolute;
			width:180px;
			text-align:center;
			top: -45px;
			left: 50%;
			transform: translateX(-50%);
			//z-index:2;
			}
			
		}
	.btn:after {
		top: 43px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-color: rgba(128, 186, 36, 0);
		border-top-color: $brand-primary;
		border-width: 20px;
		margin-left: -20px; 
	}		
	span {
		color: $brand-primary;
		font-weight: bold;
		@include rem(font-size, 2.6rem);
		vertical-align:middle;
		margin-left:10px;
	}
	img {
		vertical-align:middle;
	}
	&.fixed {
		position: fixed;
		top:0;
		right:0;
		width: 100%;
		@media screen and (min-width: $screen-md){
			width: calc(100vw - 70px);
		}	
	}
}