button.nav-trigger {
		display: block;
		background: transparent;
		position: absolute;
		top: 10px;
		left:10px;
		width: 40px;
		height:40px;
		z-index:3;
		border:none;
		@media screen and (min-width: $screen-md) {
			display: none;
		}
		span {
			display: block;
			margin: 10px auto;
			background: $brand-primary;
			width: 22px;
			height: 2px;
		}
	&.close {
		span {
			background: #fff;
		}
	}	
}

.menu {
	transition: all 300ms ease-out;
	padding: 0; 
	position: fixed;
	top:0;
	left:0px;
	width:0px;
	height:100%;
	background: #d44413;
	z-index:2;
	overflow:hidden;
	color: #fff;
	-ms-overflow-style:none;
	@media screen and (min-width: $screen-md) {
		left:0;
		width: 70px;
	}
	&.show {
		width:200px;
	}


	.nav-toggle-container {
		display: block;
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
	}
	li {
		position: relative;
		display: block;
		counter-increment: header-nav;
		height: 70px;
		padding: 5px 0;
		a {
			display: block;
			width: auto;
			height: 60px;
			position: relative;
			//left: 60px;
			//top: 30px;
			padding-left:70px;
			color: #fff;
			line-height:60px;
		}
	}

	li.current a:before,
	a:active:before {
		content: '';
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		position:absolute;
		top:10px;
		left:0;
		transform: rotate(45deg);
		border: 1px solid white;
		//border-radius: .3rem;
		transition: all 300ms ease-out;
	}
	li a:after{
		content: counter(header-nav);
		display: block;
		position: absolute;
		top: 0;
		left:17.5px;

		}
}
@media screen and (min-width:$screen-md) {
	.menu:hover {
			width: 200px;
	}
}


.languages {
	width:90px;
	height:40px;
	position: absolute;
	top:40px;
	right:40px;
	text-transform: uppercase;
	font-weight: 400;
	z-index:2;

	a {
		padding:10px;
		color: #585858;
	}
	span:first-child:after {
		content: "";
		border-right: 1px solid $brand-primary;
	}
}
.owl-carousel {
	z-index:0;
}
.owl-theme .owl-controls {
	margin-top: 40px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}
.owl-carousel .owl-item img {
	display: inline;
}