* {
	box-sizing: border-box;
}
html {
	height:100%;
}
body {
	min-height: 100%;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100%;
   
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.outer-wrapper {
  overflow-x: hidden;
	@media screen and (min-width: $screen-md) {
		padding-left: 70px;
	}
}

img {
	max-width: 100%;
}