.btn {
	display:block;
	margin: 0 auto;
	background: $brand-primary;
	padding: 10px 20px;
	border-radius: 3px;
	border: 2px solid #fff;
	color: #fff;

}
section {
	position:relative;
	width:100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 10% 0;
	}


section#intro {
	height: calc(100vh - 67px);
	background-image: url(../images/intro.jpg);
	.section-outer {
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background-color:rgba(255,255,255,0.2);
	}	
	.section-title {
		width: 100%;
		@media screen and (min-width: $screen-md) {
			padding: 0 50px;
			h1 {
				@include rem(font-size, 9rem);
			}
		}
	}
	

	h1, h2, h3 {
		color:$brand-primary;
	}
	h1, h2 {
		text-align: center;
	}
	h2 {
		@include rem(font-size, 2.3rem);
		font-weight:400;
	}
}




section#advantages {
	//background: #f3f3f3;
	background: #2a5894;
	//background:#143b71;
	background: #374e60;
	h1 {
		color: $brand-primary;
	}
	h2{
		color: #fff;
	}

}
.desktop {
	section{
		background-attachment:fixed;
	}
}
section#advantages .skew{
	width:100%;
background: #374e60;
height:100px;
position: absolute;
bottom:-40px;
-webkit-transform:skewY(-2deg);
}
.advantages-feature {
	width: 100%;
	padding: 10px;
	box-sizing:border-box;
	color: #fff;
	

	.advantages-feature-inner {
		border-radius: 2px;
		padding:1rem;
		//border: 1px solid #ccc;
		//background: #fff;
	}
	.advantage-icon {
		width: 70px;
		height: 70px;
		box-sizing: border-box;
		padding:10px;
		margin: 10px auto;
		svg {
			width:40px;
			height: 40px;
		}
		path {
			fill: lightblue;
		}
	}
	@media screen and (min-width: $screen-md) {
		width: percentage(1/3);
		float:left;
	}
}

section#register {
	.section-inner {
		padding: 40px 10%;
	}
}

section.features {
	h2 {
		text-align: left;
	}
	.section-inner {
		padding: 20px;
		@media screen and (min-width: $screen-md) {
			padding: 0 50px;
		}
	}
	.feature-text {
		@media screen and (min-width: $screen-md) {
			padding: 0 20px;	
		}
	}
	
	.feature-image {
		padding: 20px;
		background: $brand-primary;
		border-radius: 5px;
	}
	
	.feature-text,
	.feature-image {
		@media screen and (min-width: $screen-md) {
			width: 50%;
			float:left;
		}	

	}

}
section.features:not(:last-child):after {
	content: '';
	width: 80%;
	height:1px;
	background: #eee;
	position: absolute;
	bottom: 0;
	left: 10%;
	background-color: rgba(200,200,200,0);
	background-position: center center;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient(90deg,rgba(200,200,200,0),rgba(200,200,200,.5) 50%,rgba(200,200,200,0));
	background: linear-gradient(90deg,rgba(200,200,200,0),rgba(200,200,200,.5) 50%,rgba(200,200,200,0));
	
}






/*
section#references {
	.section-inner {
		height:140px;
		padding: 40px;
		.reference-outer {
			position:relative;
			display: inline-block;
			vertical-align: middle;	
			width: percentage(1/5);
			height:60px;
			margin-bottom:40px;
			float:left;
			.reference-inner {

				padding:0 30px;
				height:60px;
				line-height:60px;
				img {
					max-height:60px;
					max-width: 100%;
					vertical-align:middle;
					
				}
			}
			
		}
	}
}
*/
section#references {
	.section-inner {
		height:180px;
		padding:70px 0 30px 0;
	}
	.reference-inner {
		height:80px;
		line-height:80px;
		text-align:center;
	}
	img {
		max-height:100%;
		width:auto;
		margin:0 auto;
		vertical-align:middle;
	}
}
section#news {
	.section-inner {
		padding: 0 20px;
	}
}

footer {
	@media screen and (min-width: $screen-md) {
		padding-left: 70px;
	}
	.copyright-line {
		background: $brand-secondary;
		color: #fff;
		padding: 5px 20px;
		p {
			margin:0;
			text-align: right;
		}
	}
	.footer-inner {
		padding: 20px;
	}
	
}

