.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both
}
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 1em;
    margin-bottom: 1em
}

#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 3px;
    background-color: #f3f3f3;
}

@media (min-width: 1000px) {
    #cd-timeline {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0
}

.cd-timeline-block:first-child {
    margin-top: 0
}

.cd-timeline-block:last-child {
    margin-bottom: 0
}

@media (min-width: 1000px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    //border-radius: 50%;
    transform:rotate(45deg);
    box-shadow: 0 0 0 2px #f3f3f3;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 20px
}

@media (min-width: 1000px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        background-size: 30px 30px;
        //-webkit-transform: translateZ(0);
        //-webkit-backface-visibility: hidden;
    }

}



.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background-color: #f3f3f3;
    //background-color:#8cc1e0;
    //background-color: #41525c;

    border-radius: 0.25em;
    padding: 1em;
    color:$brand-secondary;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both
}

.cd-timeline-content .cd-timeline-title {
    color: $brand-primary;
    margin-bottom: 0
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block
}

.cd-timeline-content .cd-read-more {
    float: right;
    margin: 4px
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #888
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f3f3f3
}

@media (min-width: 1000px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 40%;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #f3f3f3
    }

    .cd-timeline-content .cd-read-more {
        float: left
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #f3f3f3
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right
    }

}


time {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    span {
        display:block;
        @include rem(font-size, 1.1rem);
        line-height:1.1;
        text-align:center;
        color: $brand-primary;
    }
}
.reveal-content {
    display:none;
}
.no-js .reveal-content {
    display:block;
}

