/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.outer-wrapper {
  overflow-x: hidden; }
  @media screen and (min-width: 768px) {
    .outer-wrapper {
      padding-left: 70px; } }

img {
  max-width: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.vertical-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

html {
  font-size: 62.5%; }

body {
  font-family: "Fira Sans", sans-serif;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif; }

h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 40px;
  /* 9 */
  font-size: 4rem;
  /* 9 */
  padding: 0 0 .7em 0;
  margin: 0;
  color: #585858;
  text-align: center; }

h1:before {
  border-top: 1px solid #585858; }

h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 28px;
  /* 9 */
  font-size: 2.8rem;
  /* 9 */
  padding: 1rem 0;
  margin: 0;
  color: #d44413; }

h3 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 22px;
  /* 9 */
  font-size: 2.2rem;
  /* 9 */
  font-weight: 400;
  line-height: 1em; }

h4 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  font-family: "Fira Sans", sans-serif;
  line-height: 151.7857143125%;
  padding: 0; }

a {
  text-decoration: none;
  color: red; }

.btn {
  display: block;
  margin: 0 auto;
  background: #d44413;
  padding: 10px 20px;
  border-radius: 3px;
  border: 2px solid #fff;
  color: #fff; }

section {
  position: relative;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0; }

section#intro {
  height: calc(100vh - 67px);
  background-image: url(../images/intro.jpg); }
  section#intro .section-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); }
  section#intro .section-title {
    width: 100%; }
    @media screen and (min-width: 768px) {
      section#intro .section-title {
        padding: 0 50px; }
        section#intro .section-title h1 {
          /* 3 */
          /* 3 */
          /* 4 */
          /* 6 */
          /* 6 */
          /* 7 */
          font-size: 90px;
          /* 9 */
          font-size: 9rem;
          /* 9 */ } }
  section#intro h1, section#intro h2, section#intro h3 {
    color: #d44413; }
  section#intro h1, section#intro h2 {
    text-align: center; }
  section#intro h2 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 23px;
    /* 9 */
    font-size: 2.3rem;
    /* 9 */
    font-weight: 400; }

section#advantages {
  background: #2a5894;
  background: #374e60; }
  section#advantages h1 {
    color: #d44413; }
  section#advantages h2 {
    color: #fff; }

.desktop section {
  background-attachment: fixed; }

section#advantages .skew {
  width: 100%;
  background: #374e60;
  height: 100px;
  position: absolute;
  bottom: -40px;
  -webkit-transform: skewY(-2deg); }

.advantages-feature {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff; }
  .advantages-feature .advantages-feature-inner {
    border-radius: 2px;
    padding: 1rem; }
  .advantages-feature .advantage-icon {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto; }
    .advantages-feature .advantage-icon svg {
      width: 40px;
      height: 40px; }
    .advantages-feature .advantage-icon path {
      fill: lightblue; }
  @media screen and (min-width: 768px) {
    .advantages-feature {
      width: 33.3333333333%;
      float: left; } }

section#register .section-inner {
  padding: 40px 10%; }

section.features h2 {
  text-align: left; }
section.features .section-inner {
  padding: 20px; }
  @media screen and (min-width: 768px) {
    section.features .section-inner {
      padding: 0 50px; } }
@media screen and (min-width: 768px) {
  section.features .feature-text {
    padding: 0 20px; } }
section.features .feature-image {
  padding: 20px;
  background: #d44413;
  border-radius: 5px; }
@media screen and (min-width: 768px) {
  section.features .feature-text,
  section.features .feature-image {
    width: 50%;
    float: left; } }

section.features:not(:last-child):after {
  content: '';
  width: 80%;
  height: 1px;
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: rgba(200, 200, 200, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(90deg, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.5) 50%, rgba(200, 200, 200, 0));
  background: -webkit-linear-gradient(0deg, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.5) 50%, rgba(200, 200, 200, 0));
  background: linear-gradient(90deg, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.5) 50%, rgba(200, 200, 200, 0)); }

/*
section#references {
	.section-inner {
		height:140px;
		padding: 40px;
		.reference-outer {
			position:relative;
			display: inline-block;
			vertical-align: middle;	
			width: percentage(1/5);
			height:60px;
			margin-bottom:40px;
			float:left;
			.reference-inner {

				padding:0 30px;
				height:60px;
				line-height:60px;
				img {
					max-height:60px;
					max-width: 100%;
					vertical-align:middle;
					
				}
			}
			
		}
	}
}
*/
section#references .section-inner {
  height: 180px;
  padding: 70px 0 30px 0; }
section#references .reference-inner {
  height: 80px;
  line-height: 80px;
  text-align: center; }
section#references img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  vertical-align: middle; }

section#news .section-inner {
  padding: 0 20px; }

@media screen and (min-width: 768px) {
  footer {
    padding-left: 70px; } }
footer .copyright-line {
  background: #585858;
  color: #fff;
  padding: 5px 20px; }
  footer .copyright-line p {
    margin: 0;
    text-align: right; }
footer .footer-inner {
  padding: 20px; }

form ul {
  padding: 0; }

.form-group {
  width: 100%;
  list-style: none;
  margin: 15px 0; }
  .form-group label {
    display: block;
    width: 100%; }
  .form-group input {
    display: block;
    width: 100%;
    padding: 5px; }
  .form-group .uniform__potty {
    display: none; }

button.nav-trigger {
  display: block;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 3;
  border: none; }
  @media screen and (min-width: 768px) {
    button.nav-trigger {
      display: none; } }
  button.nav-trigger span {
    display: block;
    margin: 10px auto;
    background: #d44413;
    width: 22px;
    height: 2px; }
  button.nav-trigger.close span {
    background: #fff; }

.menu {
  -webkit-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0px;
  width: 0px;
  height: 100%;
  background: #d44413;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  -ms-overflow-style: none; }
  @media screen and (min-width: 768px) {
    .menu {
      left: 0;
      width: 70px; } }
  .menu.show {
    width: 200px; }
  .menu .nav-toggle-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none; }
  .menu li {
    position: relative;
    display: block;
    counter-increment: header-nav;
    height: 70px;
    padding: 5px 0; }
    .menu li a {
      display: block;
      width: auto;
      height: 60px;
      position: relative;
      padding-left: 70px;
      color: #fff;
      line-height: 60px; }
  .menu li.current a:before,
  .menu a:active:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid white;
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out; }
  .menu li a:after {
    content: counter(header-nav);
    display: block;
    position: absolute;
    top: 0;
    left: 17.5px; }

@media screen and (min-width: 768px) {
  .menu:hover {
    width: 200px; } }
.languages {
  width: 90px;
  height: 40px;
  position: absolute;
  top: 40px;
  right: 40px;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 2; }
  .languages a {
    padding: 10px;
    color: #585858; }
  .languages span:first-child:after {
    content: "";
    border-right: 1px solid #d44413; }

.owl-carousel {
  z-index: 0; }

.owl-theme .owl-controls {
  margin-top: 40px; }

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px; }

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px; }

.owl-carousel .owl-item img {
  display: inline; }

div.logo {
  padding: 7px 20px;
  height: 64px;
  background: #fff;
  z-index: 1;
  text-align: right;
  position: relative; }
  div.logo .btn {
    display: none; }
    @media screen and (min-width: 768px) {
      div.logo .btn {
        display: block;
        position: absolute;
        width: 180px;
        text-align: center;
        top: -45px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
  div.logo .btn:after {
    top: 43px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(128, 186, 36, 0);
    border-top-color: #d44413;
    border-width: 20px;
    margin-left: -20px; }
  div.logo span {
    color: #d44413;
    font-weight: bold;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 26px;
    /* 9 */
    font-size: 2.6rem;
    /* 9 */
    vertical-align: middle;
    margin-left: 10px; }
  div.logo img {
    vertical-align: middle; }
  div.logo.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      div.logo.fixed {
        width: calc(100vw - 70px); } }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 1em;
  margin-bottom: 1em; }

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 3px;
  background-color: #f3f3f3; }

@media (min-width: 1000px) {
  #cd-timeline {
    margin-top: 2em;
    margin-bottom: 2em; }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }
.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media (min-width: 1000px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: 0 0 0 2px #f3f3f3;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px; }

@media (min-width: 1000px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    background-size: 30px 30px; } }
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background-color: #f3f3f3;
  border-radius: 0.25em;
  padding: 1em;
  color: #585858; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content .cd-timeline-title {
  color: #d44413;
  margin-bottom: 0; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content .cd-read-more {
  float: right;
  margin: 4px; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #888; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f3f3f3; }

@media (min-width: 1000px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #f3f3f3; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #f3f3f3; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; } }
time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }
  time span {
    display: block;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 11px;
    /* 9 */
    font-size: 1.1rem;
    /* 9 */
    line-height: 1.1;
    text-align: center;
    color: #d44413; }

.reveal-content {
  display: none; }

.no-js .reveal-content {
  display: block; }

/*# sourceMappingURL=main.css.map */